<!DOCTYPE html>
<html>
<head>
	<title>Job List</title>
</head>
<body>
	<h1>Joblist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>Job ID</td>
			<td>Company Name</td>
			<td>Job Title</td>
			<td>Job Location</td>
			<td>Salary</td>
			<td>Alter</td>
		</tr>
		
		<!-- <%# for(var i=0; i < users.length; i++){ %>			
			<tr>
				<td><%#= users[i][0] %></td>
				<td><%#= users[i][1] %></td>
				<td><%#= users[i][2] %></td>
				<td><%#= users[i][3] %></td>
			</tr>

		<%# } %> -->


		<% 
			jobs.forEach( function(std){ %>
			<tr>
				<td><%= std.jobid %></td>
				<td><%= std.comp_name %></td>
				<td><%= std.job_title %></td>
				<td><%= std.job_loc %></td>
				<td><%= std.salary %></td>
				<td>
					<a href="/user/edit/<%= std.id %>">Edit</a> |
					<a href="/user/delete/<%= std.id %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>